<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

  <div class="menu_section">
    <h3>John Doe</h3>
    <br>
    <ul class="nav side-menu">
      <li class="active">
        <a href="index.html"><i class="fa fa-tachometer"></i> Dashboard</a>
      </li>
      <li>
        <a href="health_upload.html"><i class="fa fa-upload"></i> Health Uploads</a>
      </li>
      <li>
        <a href="health_record.html"><i class="fa fa-folder-open"></i> Health Records</a>
      </li>
      <li>
        <a href="daily_update.html"><i class="fa fa-pencil-square-o"></i> Health Diary</a>
      </li>
      <li>
        <a><i class="fa fa-user"></i> Account <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu" style="display: none;">
          <li>
            <a href="update_info.html">Update Info</a>
          </li>
          <li>
            <a href="change_password.html">Change Password</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>