<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.11/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.js"></script>



<div id="wrapper">
<div class="container" id="dashboardbody">

      <div class="healthupload">
        <h3> Health Upload </h3>


            <table class="healthrecordtable" id="healthtable">
              <thead>
                <tr>
                  <td> Title </td>
                  <td> Date</td>
                  <td> File </td>
                </tr>
              </thead>

              <tbody>
                <%  @user_health.all.each do |health_record| %>
                 <tr>

                   <td><%= health_record.record_name%> </td>
                   <td><%= health_record.created_at.strftime('%v')%> </td>
                   <td><%= link_to image_tag(health_record.file.url, :width => 100, :height => 100), :target => "_blank"%></td>


                 </tr>
                 <% end %>
              </tbody>
            </table>

        </div>
</div>
</div>

<script>
$(document).ready(function(){
    $('#healthtable').DataTable();
});
</script>
