<div class="container">
  <h3>Privacy Notice Vital Synapse Sdn Bhd</h3>
  <br>
  <h3><strong>PERSONAL DATA PROTECTION ACT (PDPA)</strong></h3>
  <br>
  At Vital Synapse, we value your privacy and strive to protect your personal
  <br>
  information in compliance with the laws of Malaysia. Vital Synapse will only collect
  <br>
  and use your personal information in accordance with such laws (including the
  <br>
  Personal Data Protection Act 2010), this Privacy Notice and the privacy terms in your
  <br>
  agreement(s) with any Vital Synapse entity that you may have contracted with.
  <br>
  This Privacy Notice explains:
  <br>
  <li>The type of personal information we collect and how we collect it</li>
  <br>
  <li> How we use your personal information</li>
  <br>
  <li>The parties that we disclose the personal information to</li>
  <br>
   <li>The choices we offer, including how to access and update your personal</li>
    <br>

  <br>
  Your privacy matters to us, so please take the time to get to know our practices and if
  <br>
  you need further information, please contact us at admin@vitalsynapse.com.
  <br>
  For the purposes of this Privacy Notice, please note that:
  <br>
  <li> “Vital Synapse” refers to Vital Synapse Sdn Berhad hereinafter referred to as “VS, “our”, “us” or “we” </li>
  <br>
   <li>“Personal information” refers to any information, which relates directly or indirectly to you and/or your transactions with us.
     <br>
      This information includes your name, address, occupation, contact details, the details of your account(s),
      <br>
     the type of products and/or services subscribed to and such other necessary
  <br>
  information regarding yourself and your transaction(s) with us. For the
  <br>
  avoidance of doubt, please note that this Privacy Notice is applicable only if
  <br>
  you are an individual. </li>

  <br>

  1. What Kind Of Personal Information We Collect And How We Collect It
  <br>
  We collect and store the following information that you provide directly or generate
  <br>
  through your VS account :
  <br>
  - birth year
  <br>
  - gender
  <br>
  - height, weight and activity level
  <br>
  - general health screening profile
  <br>
  - blood pressure, pulse rate
  <br>
  - calorie intake
  <br>
  - blood results
  <br>
  - diagnostic imaging results
  <br>
  - device information including identifiers
  <br>
  2. How We Use Your Personal Information
  <br>
  We use this information to provide services or features that you request, including
  <br>
  data back-up and sync services for VS account users, and to offer customized content
  <br>  <br>
  and recommendations. We may also conduct data analysis and statistics to improve
  <br>
  our services.
  <br>  <br>
  When you use VS with compatible devices and third party application, you may
  <br>
  choose to share or synchronize your information with such services and applications.
  <br>
  We will grant access to such other services and third party application only when you
  <br>
  authorize us to do so.
  <br>
  We use a variety of standard security measures, including encryption and
  <br>
  authentication tools. When you access information, we offer the use of a secure
  <br>
  server.

  <br>  <br>

  3. Disclosure Of Your Personal Information

  <br>

  we will not disclose your information to third parties for their own independent
  <br>
  marketing or business purposes without your consent. However, we may share your
  <br>
  information with our affiliates and service providers (as data processors) as necessary
  <br>
  for the purpose of providing the VS services, and features as described in section 2.
  <br>
  We may also disclose your information to a third party where we have legal
  <br>
  obligation to do so.

  <br>

  4. Security Of Your Personal Information

  <br>

  Information is our asset and therefore VS places great importance on ensuring the
  <br>
  security of your personal information. We regularly review and implement up-to- date
  <br>
  technical and organisational security measures when processing your personal
  <br>
  information.


  <br>
  5. Retention Of Your Personal Information

  <br>

  VS will retain your personal information in compliance with this Privacy Notice
  <br>
  and/or the terms and conditions of your agreement(s) with VS for the duration of your
  <br>
  relationship with us, for such period as may be necessary to protect the interests of VS
  <br>
  and/or its customers as may be deemed necessary, where otherwise required by the
  <br>
  law and/or where required by VS&#39;s relevant policies.


  <br>
  6. Your Rights To Access And Correct Your Personal Information
  <br>


  We can assist you to access and correct your personal information held by us.
  <br>
  You may view and edit (including to correct, complete, clarify, or erase) the
  <br>
  information we collect using VS application. You may also have statutory rights to
  <br>
  access and edit such information and you have the right to request information about
  <br>
  your personal data. Furthermore, you may refuse the disclosure of your information to
  <br>
  a third party at the moment the information is collected. If you have any questions,
  <br>
  please contact us at admin@vitalsynapse.com.

  <br>

  7. How to delete your information
  <br>
  When you delete the VS application, the information saved in your device will be
  <br>
  deleted but any information collected and stored by us will still remain in our VS
  <br>
  server. If you want to delete the information collected through the VS from both the
  <br>
  device and our VS server, you can do so by going to Setting and Rest data. However,
  <br>
  any third party application you have authorized us to share or synchronize your
  <br>
  information with may continue to store your infortaion subject to their own privary
  <br>
  policies and practices.
  <br>
  8. Exercising Choices Over The Disclosure, Retention And Use Of Your
  <br>
  Personal Information

  <br>  <br>

  Subject always to our contractual rights and obligations under relevant laws and
  <br>
  regulations, you may exercise your choice in respect of the disclosure, retention and
  <br>
  use of your personal information. Should you wish to do so, kindly contact us at the
  <br>
  address/telephone number/e-mail address given at the end of this Privacy Notice.

  <br>

  9. Revisions To Privacy Notice
  <br>


  This Privacy Notice may be revised from time to time. Notice of any such revision
  <br>
  will be given on VS&#39;s website and/or by such other means of communication deemed
  <br>
  suitable by VS.

  <br>

  10. Contacting VS About Your Privacy And How We Handle Your Personal
  <br>  <br>
  Information

  <br>

  Should you have any query in relation to this Privacy Notice or how we handle your
  <br>
  personal information,  <a href="mailto:admin@vitalsynapse.com?Subject=Enquiries" target="_top">kindly contact us</a>
    <br>
  <%= bootstrap_form_for(@user) do |f| %>
      <%= f.hidden_field :pdpa, value: 1%>
      <%= f.submit "I AGREE", class:"btn btn-info btn-block" %>
  <% end %>
</div>

<script>


</script>
