<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> -->

<div class="container">
    <div class="info">
      <h2> Thank you for signing up! Let's start by answering some questions: </h2>

     </div>

    <%= nested_form_for(@user) do |f| %>
        <%= f.fields_for :results do |result| %>
        <div class="questionaire">
          hellor
          <h4> Q1. <%= @questions.first.description %> </h4><br>


        <% end %>
      </div>
          <%= f.link_to_add "Start", :results, class:"btn btn-info btn-block"%>

    <% end %>

</div>

<script>
$(document).ready(function() {




  $( ".btn-info" ).click(function() {
    // $(".questionaire ").show();
    $(".info ").hide();
     $(".btn-info ").fadeOut(1000);
  });
});

</script>
