<!DOCTYPE html>
<html>
<head>
  <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Modernising Healthcare With Artificial Intelligence">
    <meta name="twitter:description" content="VitalSynapse is an Artificial Intelligent Personal Health Account. We track, inform, & update your health status. Start investing in your own health today.">
    <meta name="twitter:creator" content="@VitalSynapse">
    <meta name="twitter:image" content="http://www.landing.vitalsynapse.com/img/vsfbpreview.jpg">

    <!-- Open Graph data -->
    <meta property="og:title" content="Modernising Healthcare With Artificial Intelligence"/>
    <meta property="og:image" content="http://www.landing.vitalsynapse.com/img/vsfbpreview.jpg"/>
    <meta property="og:description" content="VitalSynapse is an Artificial Intelligent Personal Health Account. We track, inform, & update your health status. Start investing in your own health today." />


    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>VitalSynapse - Modernising Your Healthcare</title><%= favicon_link_tag 'favicon.ico' %>


  <!-- Bootstrap core CSS  + font awesome -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//fast.appcues.com/appcues.min.css">
  <!--Start of Tawk.to Script-->

<!--End of Tawk.to Script-->

</head>

<body>

  <!-- Navigation -->
<%= render 'pages/theme/menu' %>


<%#= yield :top_content %>

<%= yield %>



<!-- Footer -->
<%= render 'pages/theme/footer' %>
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/576b5e203015183254f4cd27/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
</script>
</body>
</html>
